/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$primary-color: #23E0A2;
$secondary-color: #011911;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.normal-flex, .flex{
  display: flex;
  gap: 10px;
}
body{
    background-color: #E5E5E5;
}

/* input */
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 75vw;
    height: 9rem;
    border-radius: 10px;
    margin-top: -7rem;

    .small-input-container{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;

    }

    form{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

    }

    .ln-input {
      width: 45rem;
      height: 3.5rem;
      border-radius: 10px;
      border: 1px solid  #000;
      padding: 10px;
      font-size: 1.2rem;
      font-weight: 100;
    }

    &:focus {
      outline: 1px solid blue;
    }


    .submit-btn {
      width: 10rem;
      height: 3.5rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      margin: 0 2rem;
      border-radius: 10px;
      background: $secondary-color;
      color: #fff;
    }
  }

  .output-container {
    border: transparent;
    width: 50vw;
    height: max-content;
    display: none;
    border-radius: 10px;
    background: #fff;


    .card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        .normal-flex{
          justify-content: space-between;
          //border-bottom: 1px solid #ccc;
          padding: 5px 0;
        }

        .row{
            label{
                display: flex;
                width: 100%;
                font-size: 0.8rem;
                padding: 3px 0;
            }
            h3{
                font-size: 1rem;
                font-weight: 900;

            }
            display: flex;
            flex-wrap: wrap;

        }
    }

  }

    /* header */

    header{
        width: 100vw;
        background-color: $secondary-color;
        color: #fff;
        height: 38vh;

        .logo{
            width: 12rem;
            margin-top: 20px;
        }

        .header-text{
            margin-top: 1.5rem;

            h1{
                font-size: 1.5rem;
            }
            p{
                padding: 10px 0;
                font-size: 0.9rem;
            }
        }

    }


    .error-message{
        color: red;
        font-size: 0.9rem;
        padding-top:1px ;
        align-self: flex-start;
    }

    footer{
    margin-top: 1rem ;
    position: absolute;
    bottom: 0;
    }
